<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>Event Signups</title>
		<link rel="stylesheet" href="https://get.mavo.io/stable/mavo.css">
		<script src="https://get.mavo.io/stable/mavo.js"></script>
		<style>
			.me-true: {
					font-weight: bold;
			}
			.debug {
					display: none;
			}
			.debug-true.debug, .debug-true .debug {
					display: inherit;
			}
			[mv-mode=edit] .show-edit [property], [mv-mode=edit].show-edit [property] {
					border: 1px solid black;
			}
			body {
					display: flex;
					min-height: 95vh;
					flex-direction: column;
			}
			footer {
					margin-top: auto;
			}
			main {
					display: flex;
					gap: 10ex;
			}
			header form {
					float: right;
			}
			section {
					min-width: 40%;
			}
		</style>
		<script tope="module" src="signup.js"></script>
	</head>
	<body>

		<header mv-app="util"
						 class="debug-[url('debug')=='']"
						 mv-plugins="firebase-firestore"
						 mv-bar="status login logout"
						 mv-init="https://mavo-cd7c3.firebaseio.com/mavo-apps/util"
						 mv-init-options="auth all-can-edit"
						 mv-init-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
						 >
			<table class="debug" mv-storage="none">
				<tr><td>eventId<td property="eventId" mv-default="[url('eventId')]"></tr>
				<tr><td>storePrefix<td property="storePrefix">https://mavo-cd7c3.firebaseio.com/mavo-apps/signup/</tr>
				<tr><td>eventStore<td property="eventStore">[storePrefix & 'events/' & eventId]</tr>
				<tr><td>signupStore<td property="signupStore">[storePrefix & 'signups/' & eventId]</tr>
				<tr><td>uid<td id="uid" property="uid"></tr>
				<tr><td>name<td id="name" property="name"></tr>
			</table>
			<form mv-if="uid" method="get"> 
				<input name="eventId" value="[''+$startup]" type="hidden">
				<input type="submit" value="Create an event">
			</form>
			<div mv-if="!uid">Please log in to use the signup tool</div>
		</header>


		<main>
			<section mv-if="util.uid && util.eventId"
							 class="debug-[url('debug')==''] show-edit"
							 mv-bar="none"
							 mv-app="event"
							 mv-plugins="firebase-firestore share"
							 mv-autosave="1"
							 mv-mode="[if(isOwner,'edit','read')]"
							 mv-storage="[if(util.uid,util.eventStore,'none')]"
							 mv-storage-options="auth"
							 mv-storage-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
							 >
				<div class="debug">
					<table>
						<tr><td>ownerId<td property="ownerId" mv-default="[util.uid]"></tr>
						<tr><td>isOwner<td property="isOwner" mv-storage="none" mv-value="util.uid && util.uid==ownerId"></tr>
						<tr><td>Set title<td>[reTitle(eventName)]</tr>
					</table>
				</div>

				<h2><span property="eventName" mv-default="My Event"></span></h2>
				<div><time property="eventTime" mv-default="[$startup]"></time> by
					<span property="organizerName" mv-default="[util.name]"></span></div>
				<div><b>Description:</b>
					<div property="eventDescription"></div>
				</div>
				<div>Signup limit: 
					<span type="number" mv-default="50" property="limit"></span>
				</div>
				<button mv-if="eventName" mv-action="share(eventDescription,url(),eventName & ', ' & date(eventTime))">Share this Event</button>
			</section>

			<section mv-if="util.uid && util.eventId"
							 mv-app="signup"
							 mv-bar="none"
							 mv-autosave="3"
							 class="debug-[url('debug')=='']"
							 mv-plugins="firebase-firestore"
							 mv-storage="[if(util.uid,util.signupStore,'none')]"
							 mv-storage-options="auth all-can-edit realtime"
							 mv-storage-key="AIzaSyC0PxY82lVLTLv80ZU1z5sz1azoYZits0I"
							 >
				<div class="debug">
					<div property="mySignup" mv-storage="none">
						<div>Uid: <span  property="uid" mv-value="util.uid"></span></div>
						<div>Name: <span property="name" mv-value="util.name"></span></div>
						<div>Time: <span property="time" mv-value="$startup"></span></div>
					</div>
					<div property="signupChange">
						<div>Uid: <span  property="uid"></span></div>
						<div>Name: <span property="name"></span></div>
						<div>Time: <span property="time"></span></div>
					</div>
					<div>space: <span property="space" mv-value="count(signupList)<event.limit"></span></div>
					<div>signed: <span property="signed" mv-value="count(signupList where uid=util.uid)"></span></div>
					<div>signupTime: <span property="signupTime" mv-value="if(signed,get(first(signupList where uid=util.uid),'time'))"></span></div>
				</div>

				<h2 mv-if="count(signupList)">Signed Up</h2>
				<div mv-if="space">[event.limit-count(signupList)] spots remain.</div>
				<button mv-if="signed"
								mv-action="set(signupChange,first(signupList where uid=util.uid)),delete (signupList where uid=util.uid)">Cancel Signup</button>
				<button mv-if="space && !signed"
								mv-action="set(signupChange,mySignup),add(mySignup,signupList)">Sign Up</button>
				<div mv-if="!space">Event is full</div>
				<ul>
					<li class="me-[uid=util.uid]" mv-multiple mv-initial-items="0" property="signupList">
						<span property="name"></span>
						<span class="debug" property="uid"></span>
						<span class="debug" property="time"></span>
					</li>
				</ul>
			</section>
		</main>

		<footer>Created by David Karger.  <a href="mailto:karger@mit.edu">Please send feedback.</a></footer>
	</body>
</html>
